/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@require 'fonts'

code
  font-family LINESeed !important
  font-size 16px !important
  line-height 2em !important
  padding-bottom 3px !important

.home .hero img
  max-width 450px!important

.heroText
  font-size 50px !important
  font-family LINESeed-Bd !important
  color: #3e3e4e;

.tagline
  font-family LINESeed !important
  font-size 20px !important

.footer
  font-family LINESeed !important
  color: #a0a0a0;

.navbar
  font-family LINESeed !important
.logo
  height 30px !important
  margin-top -8px !important
.site-name
  padding-left 5px

.vt-box
  font-family LINESeed !important
