/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

:root {
    --c-brand-primary: #FF9900;
    
    // light mode
    --c-brand: #FF8822;
    --c-brand-light: #FFAA33;
    --c-brand-dark: #FF7711;
    --c-active-link: var(--c-brand-primary);
    --c-brand-light: #FF8800;

    // dark mode
    --c-darkmode-brand: #FFBB22;
    --c-darkmode-brand-light: #FFDD44;
    --c-darkmode-brand-dark: var(--c-brand-primary);
    --c-darkmode-brand-primary: var(--c-brand-primary);
    --c-darkmode-active-link: var(--c-brand-primary);
    --c-darkmode-active-link-bg: rgba(#FF8800, 0.2);
}
