/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// 색상
@accentColor: #3eaf7c; // 글로벌 메인 컬러
@textColor: #2a2a2a; // 텍스트 색상
@borderColor: #eaecef; // 테두리 색상
@codeBgColor: #282c34; // 코드 블록 배경색
@arrowBgColor: #ccc; // 화살표 배경색
@badgeTipColor: #19be6b; // 팁 로고 배경색
@badgeWarningColor: #ff9900; // 경고 배경색
@badgeErrorColor: #ed4014; // 위험 배지 배경색
